<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="handleScrollStart()"
  (ionScroll)="handleScroll($any($event))"
  (ionScrollEnd)="handleScrollEnd()"
  class="ion-padding"
>
<div class="container">   
  <div *ngFor="let message of messages"  class="message">
    <div [ngClass]="message.name=='Attila'?'jobb':'bal'">     
        <div *ngIf="message.name!='Attila'" class="username">{{message.name}}</div> 
        <div class="message">{{message.message}}</div>     
    </div>
    <!-- <div [ngClass]="message.name=='Attila'?'justify-content-end':'justify-content-start'" class="col d-flex">{{message.message}}</div> -->
  </div>
  <!-- <div>
    {{messages|json}}
  </div> -->
  <ion-icon (click)="goDown()" [ngClass]="scroll==true?'nemlatszik':'latszik'" class="goDown" name="send"></ion-icon>
  <div class="vege"></div>
</div>

</ion-content>